*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F4266;
    --grey: #2E2F42B2;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

body {
    font-family: 'roboto';
}

.header-logo {
    font-family: 'raleway';
    font-weight: 800;
}

.footer-logo {
    font-family: 'raleway';
    color: var(--white);
    font-weight: 800;
}

.header-nav-links {
    color: var(--navyblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.contact-mail,
.contact-no {
    font-style: normal;
}

.contact-mail:hover,
.contact-no:hover {
    color: var(--ocean);
}


.contact-mail:active {
    color: var(--ocean);
}


.hero-section-button {
    color: var(--white);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.portfolio-button {
    color: var(--iris);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
}


.portfolio-button:hover {
    background-color:var(--ocean);
    color: var(--white);
    cursor: pointer;
}



.web {
    color: var(--iris);
}

h1 {
    color: var(--white);
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.hero-section {
    background-color: var(--navyblue);
    text-align: center;
}

.team-section {
    background-color: var(--cloud);
}

.features-description {
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.features,
.project {
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}


h2 {
    color: var(--navyblue);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team {
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-align: center;
}

.job {
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--navyblue);
}

ul {
    list-style-type: none;
}



footer {
    background-color: var(--navyblue);
}

.footer-logo-description {
    color: var(--cloud);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}