*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F4266;
    --grey: #2E2F42B2;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

body {
    font-family: 'Roboto', 'sans serif';
}

.header-logo {
    font-family: 'Raleway', 'sans serif';
    font-weight: 800;
}

.footer-logo {
    font-family: 'Raleway', 'sans serif';
    color: var(--white);
    font-weight: 800;
}

.header-links {
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.contact-link{
    font-style: normal;
}


.contact-link:hover, .header-links:hover {
    color: var(--ocean);
}


.contact-link:active {
    color: var(--ocean);
}


.hero-button {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    outline: none;
    border: unset;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
}

.portfolio-button {
    color: var(--iris);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    font-family: inherit;
    padding: 12px 24px;
    
}


.portfolio-button:hover {
    background-color: var(--ocean);
    color: var(--white);
    cursor: pointer;
    border-color: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.hero-button{
    cursor: pointer;
}



.web {
    color: var(--iris);
}

h1 {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.hero {
    background-color: var(--navyblue);
    text-align: center;
}

.features-title {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.features-description {
    color: var(--slate);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.team-title {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.team-role {
    color: var(--slate);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}


.team {
    background-color: var(--cloud);
}

.team-title, .team-role {
    text-align: center;
}




h2 {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}


.role {
    color: var(--slate);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--navyblue);
}

ul {
    list-style-type: none;
}

.project {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.project-description{
    color: var(--slate);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}



footer {
    background-color: var(--navyblue);
}

.footer-logo-description {
    color: var(--cloud);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}